.content {
    .time_select {
        display: flex;
    }
    .form {
        width: 100%;
        input {
            width: 90%;
            height: 40px;
            border-radius: 4px;
            font-size: 14px;
            margin: .5rem 2.5rem;
            background-color: var(--c-gray-input);
            color: var(--c-white);
        }
        .time_select {
            display: flex;
            input {
                width: 90%;
                height: 40px;
                border-radius: 4px;
                font-size: 14px;
                margin: .5rem 2.5rem;
                background-color: var(--c-gray-input);
                color: var(--c-white);
            }
        }
        .is_attendance {
            display: flex;
            justify-content: center;
            label {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;
                height: 40px;
                border-radius: 4px;
                font-size: 1.0rem;
                margin: .5rem 2.5rem;
                color: var(--c-white);
            }
        }
    }
    .ButtonWrapper {
        margin: 1.5rem;
        display: flex;
        justify-content: center;
        .Button {
            border: none;
            background-color: var(--c-white-blue);
            color: var(--c-white);
            font-size: .125rem;
            font-weight: bold;
            border-radius: 0.625rem;
            cursor: pointer;
        }
    }
}