.content {
    background-color: var(--c-dark-twitter);
    min-height: 100vh;
    .container {
        padding: 12rem 0;
        h1 {
            color: var(--c-white);
            font-size: 1rem;
        }
    }
    .ButtonWrapper {
        margin: 1rem 0rem;
        text-align: center;
    }
    .Wrapper {
        display: flex;
        margin: 0rem 0rem;
        justify-content: space-between;
    }
    .Button {
        background-color: var(--c-white-blue);
        color: var(--c-white);
        border-radius: 1.25rem;

    }
    .ButtonEdit {
        color: var(--c-black);
        border-radius: 1.25rem;
    }
    .form {
        margin: 1rem 0rem;
        border:1px solid var(--c-white);
        h1 {
            color: var(--c-white);
            text-align: center;
            margin: 0.5rem 0rem;
        }
        .text {
            border: 1px solid var(--c-white);
            background-color:var(--c-silver);
        }
        .formGroup {
            // padding: 1rem 0;
            label {
                color: var(--c-white);
                font-size: 0.75rem;
                margin: 0rem 2rem;
            }
            input {
                background-color: var(--c-gray-input);
                color: var(--c-white);
                width: 90%;
                height: 2.5rem;
                border-radius: 4px;
                font-size: 0.8rem;
                margin: 1rem auto;
            }
            .formControl {
                margin: auto auto;
            }
        }
        .actions {
            display: flex;
            justify-content: center;
            .Button {
                background-color: var(--c-white-blue);
                color: var(--c-white);
                border-radius: 4px;
                margin: 2rem auto;
                width: 90%;
            }
        }
    }

}