@import '/styles/mixins.scss';
.content {
  .RootBar {
    height: 4.5rem;
    background-color: var(--c-dark-twitter);
    border-bottom: 1px solid rgb(255, 255, 255);
    }
    .tool {
      height: inherit;
      padding: 0;
      display: flex;
      justify-content: space-between;
      @include mq(sm) {
        display: flex;
        justify-content: space-evenly;
      }
      h3 {
        font-size: 1rem;
        @include mq(sm) {
          margin-left: -4rem;
        }
      }
    }
    .container {
      height: 100%;
    }
    .logo {
      flex-grow: 1;
    }
    .menu {
      padding-right: 0;
    }
   
    .link {
      color: var(--c-white-blue);
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      
      .MenuButton {
        display: none;
        .MenuIcon {
          color: var(--c-white);
        }
        @include mq(sm) {
          display: flex;
        }
      }
      .button {
        @include mq(sm) {
          display: none;
        }
      }
      @include mq(sm) {
        width: 0%;
        background-color: rgb(130, 238, 139); 
      }
      .icon {
        color: var(--c-white);
        @include mq(sm) {
          display: none;
          width: 0%;
        }
      }
    } 
   
  }
  .Box {
    background-color: var(--c-gray-input);
    width: 10rem;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 3rem;
   
    .Button {
      background-color: var(--c-gray-input);
      color: var(--c-white);
      font-size: 1rem;
      font-weight: bold;
      width: 100%;
      .text {
        margin-left: 1.4rem;
      }
      .icon {
        margin-right: 1rem;
      }
      .icon1 {
       margin-left: -3rem;
      }

    }
  }

  