.content {
  .RootBar {
    height: 4.5rem;
    background-color: var(--c-background);
    border-bottom: 1px solid var(--c-white);
    }
    .tool {
      height: inherit;
      padding: 0;
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 1rem;
        color: var(--c-white);
      }
    }
    .container {
      height: 100%;
      .logo {
        cursor: pointer;
        margin-top: 1.5rem;
        .icon {
          width: 1.8rem;
          height: 1.8rem;
          margin-top: -.3rem;
          margin-left: .9rem;
          vertical-align: middle;
        }
      }
    }
    .signupWrapper {
      width: 10rem;
      display: flex;
      margin-right: 2rem;
      .Mroot {
        background-color: var(--c-white-blue);
        border-radius: 1.25rem;
        color: rgb(243, 243, 243);
      }
    }
    .signin {
      margin-right: 1rem;
    }
    .logo {
      flex-grow: 1;
      color: var(--c-white);
    }
    .menu {
      padding-right: 0;
    }
   
    .link {
      color: var(--c-white-blue);
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      .icon {
        color: var(--c-white);
      }
    }
  }
