.content {
    margin-top: -3.5rem;
    margin-bottom: 2rem;
    background-color: var(--c-dark-twitter);
    .link {
        display: flex;
        justify-content: space-around;
        a {
            color: var(--c-white);
            font-weight: bold;
            text-decoration: none;
        }
        .li {
            background-color: transparent;
            list-style: none;
        }
        .active {
            padding: 0.5rem;
            border-bottom: 5px solid var(--c-white-blue);
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
   
}