.content {
    button {
        text-align: center;
        min-width: 6rem;
        border: none;
        background-color: var(--c-white-blue);
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 0.625rem;
        cursor: none;
        margin: 0.5rem;
        padding: 0rem;
        p {
            color: var(--c-white2);
            margin: 0.5rem;
        }
    }
}
.module_space {
    width: 1rem;
    height: 0.5rem;
}

