.content {
    justify-content: space-between;
    .form {
        margin: 0.5rem 0.5rem;
        padding: 0 0;
        .input {
            background-color: var(--c-gray-input);
            color: var(--c-white);
            width: 100%;
            border-radius: 4px;
            font-size: 14px;
            padding: 0.5rem;
            margin-top: 0.5rem;
            text-decoration: none;
        }
    }
    .ButtonWrapper {
        padding-right: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        .MButton {
            background-color: var(--c-white-blue);
            color: var(--c-white2);
            border-radius: .5rem;
            margin: 2rem auto;
            font-weight: bold;
        }
    }
}
