.content {
    background-color: var(--c-dark-twitter);
    min-height: 100vh;    
    .container {
        padding: 12rem 0;
        h1 {
            color: var(--c-white);
            font-size: 1rem;
        }
    }
    .ButtonWrapper {
        margin: 1rem 0rem;
        text-align: center;
    }
    .Wrapper {
        display: flex;
        margin: 0rem 0rem;
        justify-content: space-between;
    }
    .Button {
        background-color: var(--c-white-blue);
        color: var(--c-white);
        border-radius: 1.25rem;

    }
    .ButtonEdit {
        color: var(--c-black);
        border-radius: 1.25rem;
    }
    .form {
        margin: 1rem 0rem;
        border:1px solid var(--c-white);
        width: 50%;
        h1 {
            color: var(--c-white);
            text-align: center;
            margin: 0.5rem 0rem;
        }
        .text {
            border: 1px solid var(--c-white);
            background-color:var(--c-silver);
        }
    }
    .mini_content {
        display: flex;
    }

}