$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin helvetica-font() {
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}

@mixin notosansjp-font() {
  font-family: 'Noto Sans JP', sans-serif;
}

@mixin flexbox-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@mixin line-clamp($count: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
