.content {
  .RootBar {
    height: 4.5rem;
    background-color: var(--c-background);
    border-bottom: 1px solid var(--c-white);
    }
    .tool {
      height: inherit;
      padding: 0;
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 1rem;
        color: var(--c-white);
        cursor: pointer;
      }
    }
    .container {
      height: 100%;
    }
    .signupWrapper {
      width: 10rem;
      display: flex;
      margin-right: 2rem;
      .li {
        color: var(--c-white);
      }
      .active {
        background-image: linear-gradient(65deg, rgb(17, 236, 229) 30%, rgb(195, 27, 226) 114%);
        font-weight: bold;
        border-radius: 1.25rem;
        color: var(--c-white2);
      }
    }
    .signin {
      margin-right: 1rem;
    }
    .logo {
      flex-grow: 1;
    }
    .icon {
      margin-right: -3rem;
      margin-left: 1rem;
    }
    .menu {
      padding-right: 0;
    }
  }
