.content {
    display: flex;
    justify-content: space-between;
    .form {
        width: 70%;
        input {
            width: 80%;
            height: 40px;
            border-radius: 4px;
            font-size: 14px;
            margin: 1rem;
        }
        
    }
    .ButtonWrapper {
        margin: 1rem;
        .Button {
            border: none;
            background-color: var(--c-white-blue);
            color: var(--c-white);
            font-size: 1.125rem;
            font-weight: bold;
            border-radius: 0.625rem;
            cursor: pointer;
        }
    }
}