.content {
    display: flex;
    justify-content: space-between;
    .form {
        width: 70%;
        input {
            width: 85%;
            height: 40px;
            border-radius: 4px;
            font-size: 14px;
            margin: 1rem 2.5rem;
            background-color: var(--c-gray-input);
            color: var(--c-white);
        }
        
    }
    .ButtonWrapper {
        margin: 1rem;
        .Button {
            border: none;
            font-size: .8rem;
            color: var(--c-white);
            font-weight: bold;
            border-radius: 0.625rem;
            cursor: pointer;
            padding-right: 1rem;
            .add {
                margin-right: 0.3rem;
            }
            .Active {
                border: none;
                border-radius: 0.625rem;
                background-color: var(--c-white-blue);
                color: black;
                font-size: .8rem;
                font-weight: bold;
                cursor: pointer;
                padding-right: 1rem;
                .add {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}